/* Css Variables */

:root {
    --primary-color: rgb(68, 68, 82);
    --primary2-color:  rgba(68, 68, 82, 0.719);
    --secondary-color: #f0fe11;
    --link-color: #ca0b58;
/* Font family variables */
    --lato:'Lato', sans-serif;
    --marri: 'Merriweather', serif;
}

html body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family : var(--lato);
    color: var(--primary2-color);
    line-height: 2;
    background-color: whitesmoke;
}

a {
    color : var(--link-color);
    transition: 1.2s;
}

h4 {
    color : var(--link-color);
    font-family: var(--marri) ;
}

/* Global Style Css */

.title-text {
    font: bold 4.5rem var(--lato);
    color: var(--primary-color);
    margin: 1.5rem 0;
}

.button {
    margin: 1rem 0;
    padding: .8rem 2.2rem;
    font: bold 500 16px/20px var(--lato);
    position: relative;
    border: 3px solid transparent;
    border-radius: 3px;
}

.primary-button {
    background: var(--link-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background 1.2s ease;
}

.primary-button:hover {
    background: whitesmoke;
    background-clip: padding-box;
    color: var(--link-color);
}

.primary-button:after, .secondary-button:after {
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px; right: -2px;
    background: var(--link-color);
    content: '';
    z-index: -1;
    border-radius: 4px;
}

.secondary-button {
    color: var(--link-color);
    background: whitesmoke;
    background-clip: padding-box;
    transition: background 1s ease;
}

.secondary-button:hover {
    background: var(--link-color);
    background-clip: padding-box;
    color: whitesmoke;
}


/* Custom Style Css */

.bg-dark {
    background-color: var(--primary-color);
}

.header_area .main_menu .navbar .navbar-nav {
    font: normal 400 12px/2px var(--lato); 
    letter-spacing: .155em;
} 

.header_area .main_menu .navbar .navbar-nav a {
    color: whitesmoke;
}

.header_area .main_menu .navbar .navbar-nav a:hover {
    color: var(--secondary-color);
}

.header_area .main_menu .navbar .navbar-nav .active a {
    color: var(--secondary-color);
}

.site-main .site-banner .site-title {
    margin: 6% 0 6%;  
}

.site-main .site-banner .site-title h3 {
    font-size: 2rem;
}



