@import './variables';

// main site
.wrapper {
    width: 100%;
    scroll-behavior: smooth;
}

.main-site {

    line-height: 1.5;

    .aboutme,
    .portfolio,
    .contact {
        padding: 4rem 7rem;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        .about {
            text-align: justify;
            padding: 0 2rem 0 0;
        }
    }

    &-title {
        text-align: left;
        margin-bottom: .5rem;
        margin-top: 4rem;

        h3 {
            font-size: 1.5rem !important;
            color: $primary1-color;

            &::after {
                content: "";
                position: absolute;
                background: $secondary-color;
                width: 100px;
                height: 10px;
                border-radius: 50px 200px 19px 200px;
                transform: translateX(-90px) translateY(15px);
                z-index: -1;

            }
        }
    }

    // foto
    .foto-wrap {
        padding: 0 3rem 0 2rem;
    }

    .foto {
        width: 100%;
        border-radius: .2rem;
        overflow: hidden;
        position: relative;
        transition: $duration;

        img {
            width: 100%;
        }

        &-bg {
            width: 100%;
            height: 100%;
            display: block;
            top: 0;
            right: 0;
            position: absolute;
            background: $secondary-color;
            opacity: .6;
            transition: $duration;

            &:hover {
                transform: translateY(100%);
            }
        }

        &:hover {
            box-shadow: 0 10px 13px -7px $accent-color;

        }
    }

    // skill
    .skill {

        li {
            margin: 1rem 0;
            list-style: none;
            font-size: .8rem;

            span {
                color: $primary-color;
            }

            .skill-item {
                display: flex;
                justify-content: space-between;
            }

            .bar-skill {
                background: $accent-color;
                display: block;
                height: 2px;
                border-radius: .2rem;
                overflow: hidden;

                span {
                    height: 5px;
                    float: left;
                    background: $secondary-color;
                }

                .persen90 {
                    width: 90%;
                }

                .persen80 {
                    width: 80%;
                }

                .persen70 {
                    width: 70%;

                }

                .persen65 {
                    width: 65%;

                }
            }
        }
    }

    // social meida
    .social-media,
    .card-footer {
        background: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        height: 10%;
        margin: .5rem 0;

        span {
            padding: .3rem 0;
            color: $primary1-color;
        }

        a {
            font-size: 1.5rem;
            color: $primary1-color;
            transition: $duration;

            &:hover {
                border: none;
                color: $accent-color;
            }
        }

    }

}

// card
.card {

    margin-top: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);

    &-title {
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    &-text {
        font-size: .9rem;
        text-align: justify;
    }

    &-img {
        box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.75);
    }

    &-footer {
        justify-content: space-evenly !important;
    }
}

//contact
.contact,
.portfolio {
    text-align: center;

    h3 {
        text-align: center;
    }
}